<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-fw fa-futbol-o"></i> Táticas
        </h1>
      </div>
      <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard / Táticas - <small>{{selectedTacticDescription}}</small>
            </li>
        </ol>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <i class="fa fa-info-circle"></i> Define a tua tática.
      </div>
  </div>
</div>

<div class="row" ng-show="selectedTacticId != null">
  <div class="col-lg-3">
      <button type="button" class="btn" ng-click="associateTacticToGameDialog()">
        Associar tática a evento
      </button>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
      <button type="button" class="btn" ng-click="createTacticToGame()">
        Gravar tactica
      </button>
  </div>
</div>

<div class="row">
  <!-- CAMPO -->
  <div class="col-lg-6" style="align:center">
    <h3><i class="glyphicon glyphicon-wrench"></i><small>Quadro Tactico</small></h3>
    <!-- drop area -->
    <div class="caption">
      <div data-drag="true" data-drop="true" jqyoui-droppable="{multiple:true}">
            <img jqyoui-droppable="{multiple:true}" style="opacity: 100 !important"
              jqyoui-draggable="{multiple:true, animate:true}"
              src="./images/football_pitch90deg.jpeg" height="550px"/>
      </div>
    </div>
  </div>


    <div class="col-lg-2" style="height: 1000px !important" ng-show="subplayers == null">
      <div class='contentWrapper ng-cloak'>
        <div class='content'>
            <h3><i class="glyphicon glyphicon-th-list"></i><small>  Suplentes</small></h3>
            <!-- players area -->
            <div data-drop="true" ng-show="subplayers == null"
                jqyoui-droppable="{multiple:true}">
                <div class="btn-draggable div-circle-squre"
                  data-drop="true"
                      data-drag="true" jqyoui-droppable="{multiple:true, onDrop: 'fieldDropCallback'}"
                      data-jqyoui-options="{revert: 'invalid'}"
                      jqyoui-draggable="{animate:true}" id="{{subplayer.number}}"
                      style="height: 500px !important">

                </div>
            </div>
          </div>
        </div>
      </div>

  <div class="col-lg-2" style="500px !important" ng-show="subplayers != null">
    <div class='contentWrapper ng-cloak'>
      <div class='content'>
          <h3><i class="glyphicon glyphicon-th-list"></i><small>  Suplentes</small></h3>
          <!-- loaded list -->
          <div data-drop="true"
              ng-model='subplayers' ng-show="subplayers != null"
              jqyoui-droppable="{multiple:true}">
              <div class="btn-draggable col-md-4 div-circle-squre"
                    ng-repeat="subplayer in subplayers" data-drop="true"
                    data-drag="true" jqyoui-droppable="{multiple:true}"
                    data-jqyoui-options="{revert: 'invalid'}" ng-model="subplayers"
                    jqyoui-draggable="{animate:true}" id="{{subplayer.number}}" >
                    <span class="fa-3x circle-span" >
                      <i class="fa fa-circle-o fa-circle-2x" style="circle"></i>
                      <small>
                        <small class="fa-stack-1x calendar-text">{{subplayer.number}}</small>
                      </small>
                      <div class="circle-text">
                        {{subplayer.name}}
                      </div>
                    </span>
              </div>
          </div>

        </div>
      </div>
    </div>

  <div class="col-lg-3">
    <div class='contentWrapper ng-cloak'>
      <div class='content'>
          <h3><i class="glyphicon glyphicon-th-list"></i><small>  Jogadores</small></h3>
          <!-- players area -->
          <div data-drop="true"
              ng-model='players'
              jqyoui-droppable="{multiple:true}">
              <div class="btn-draggable col-md-4 div-circle-squre"
                    ng-repeat="player in players | orderBy: 'number'"
                    data-drag="true"
                    data-jqyoui-options="{revert: 'invalid'}" ng-model="players"
                    jqyoui-draggable="{animate:true, onStop: 'dropCallback'}" id="{{player.number}}">
                    <span class="fa-3x circle-span" >
                      <i class="fa fa-circle-o fa-circle-2x" style="circle"></i>
                      <small>
                        <small class="fa-stack-1x calendar-text">{{player.number}}</small>
                      </small>
                      <div class="circle-text">
                        {{player.name}}
                      </div>
                    </span>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div>
  {{loadPlayersIntoTheTable()}}
</div>

<script type="text/ng-template" id="associateTacticDialog.html">
    <div class="ngdialog-message" style="text-align: center !important;">
      <h3><i class="fa fa-fw fa-futbol-o"></i> Associar tática ao Jogo </h3>
      <br/>
      <table class="table">
        <caption><i class="fa fa-fw fa-futbol-o"/> Jogos</caption>
        <thead>
          <tr>
            <th align="center">#</th>
            <th align="center">Jogo</th>
            <th align="center">Data/Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="game in gamesList">
            <th>
              <input type="checkbox" ng-model="game.selected" />
            </th>
            <th>{{game.homeTeamName}} vs {{game.awayTeamName}}</th>
            <th>{{game.date}}</th>
          </tr>
        </tbody>
      </table>

      <button type="button" class="btn"
        ng-click="associateTacticToGamesDialog(gamesList);closeThisDialog();">
        Associar Táticas
      </button>
    </div>
</script>
