
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
          <i><img src="{{effectiveTeam.crestUrl}}" height="50px" width="50px"></img></i> Adicionar Jogador
      </h1>
    </div>
    <div class="col-lg-12">
      <ol class="breadcrumb">
          <li>
              <i class="fa fa-dashboard"></i> Dashboard / Plantel - <b>{{effectiveTeam.name}}</b> / Adicionar Jogador
          </li>
      </ol>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <!-- the avatar markup -->
        <div id="kv-avatar-errors-2" class="center-block" style="width:800px;display:none"></div>
        <form class="text-center" action="/avatar_upload.php" method="post" enctype="multipart/form-data">
            <div class="kv-avatar center-block" style="width:200px">
                <input id="avatar-2" name="avatar-2" type="file" class="file-loading">
            </div>
            <!-- include other inputs if needed and include a form submit (save) button -->
        </form>
        <!-- your server code `avatar_upload.php` will receive `$_FILES['avatar']` on form submission -->

        <!-- the fileinput plugin initialization -->
        <script type="text/javascript" src="js/avatar.js"></script>

      </div>

      <div class="col-lg-2" style="width: 420px !important; height: 200px !important;"
        width="420px" height="200px">
        <canvas id="physicalRadar" class="chart chart-radar"
          chart-data="physicalData" chart-options="options" chart-labels="physicalLabels"
          style="display: block; width: 420px !important; height: 200px !important;">
        </canvas>
      </div>

      <div class="col-lg-2" style="width: 420px !important; height: 200px !important;"
        width="420px" height="200px">
        <canvas id="velocityRadar" class="chart chart-radar"
          chart-data="velocityData" chart-options="options" chart-labels="velocityLabels"
          style="display: block; width: 420px !important; height: 200px !important;">
        </canvas>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
            <label>Nome:</label>
            <input class="form-control" value="{{selectedPlayer}}" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label>Número:</label>
            <input class="form-control" value="{{selectedPlayer}}"  />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label>Nacionalidade:</label>
            <input class="form-control" value="{{selectedPlayer}}"  />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label>Idade:</label>
            <input class="form-control" value="{{selectedPlayer}}"  />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label>Posição:</label>
            <input class="form-control" value="{{selectedPlayer}}"  />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <table class="table">
          <caption>Atributos Físicos</caption>
          <thead>
            <tr>
              <th>Altura</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Resistência</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Agilidade</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Salto Altura</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Salto Comprimento</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Aceleração</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Velocidade 10m</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Velocidade 20m</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Velocidade 50m</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Velocidade 100m</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <caption>Atributos Mentais</caption>
          <thead>
            <tr>
              <th>Liderança</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Equipa</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Rácio de Trabalho</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Determinação</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Criatividade</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Concentração</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Agressividade</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
        <table class="table">
          <caption>Atributos Técnicos</caption>
          <thead>
            <tr>
              <th>Cruzamento</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Drible</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Finta</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Remate</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Finalização</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Cabeceamento</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Primeiro Toque</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Recepção Orientada</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Livres</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Lançamentos</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Penalties</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Cantos</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Técnica</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Passe Curto</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Passe Longo</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
              <th>Remate Longa Distância</th>
              <th><input class="form-control" value="{{selectedPlayer}}"  /></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
