
<!-- Page Heading -->
<div class="row" ng-init="loadSelectedPlayer()">
    <div class="col-lg-12" >
      <h1 class="page-header" ng-if="selectedPlayer.playerId == undefined && addStaffMember == false">
          <i><img src="{{effectiveTeam.crestUrl}}" height="50px" width="50px"></img></i>
          Adicionar Jogador
      </h1>
      <h1 class="page-header" ng-if="selectedPlayer.playerId != undefined && addStaffMember == false">
          <i><img src="{{effectiveTeam.crestUrl}}" height="50px" width="50px"></img></i>
          Informação de Jogador
      </h1>
      <h1 class="page-header" ng-if="selectedPlayer.playerId == undefined && addStaffMember == true">
          <i><img src="{{effectiveTeam.crestUrl}}" height="50px" width="50px"></img></i>
          Adicionar Staff
      </h1>
      <h1 class="page-header" ng-if="selectedPlayer.playerId != undefined && addStaffMember == true">
          <i><img src="{{effectiveTeam.crestUrl}}" height="50px" width="50px"></img></i>
          Informação de Staff
      </h1>
    </div>
    <div class="col-lg-12">
      <ol class="breadcrumb">
          <li ng-if="selectedPlayer.playerId == undefined && addStaffMember == true">
              <i class="fa fa-dashboard"></i> Dashboard / Plantel - <b>{{effectiveTeam.name}}</b> / Adicionar Staff
          </li>
          <li ng-if="selectedPlayer.playerId == undefined && addStaffMember == false">
              <i class="fa fa-dashboard"></i> Dashboard / Plantel - <b>{{effectiveTeam.name}}</b> / Adicionar Jogador
          </li>
          <li ng-if="selectedPlayer.playerId != undefined && addStaffMember == false">
              <i class="fa fa-dashboard"></i> Dashboard / Plantel - <b>{{effectiveTeam.name}}</b> / Informação de Jogador
          </li>
          <li ng-if="selectedPlayer.playerId != undefined && addStaffMember == true">
              <i class="fa fa-dashboard"></i> Dashboard / Plantel - <b>{{effectiveTeam.name}}</b> / Informação de Staff
          </li>
      </ol>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <!-- the avatar markup -->
        <div id="kv-avatar-errors-2" class="center-block" style="width:800px;display:none"></div>
        <form id="uploadImageFormId" class="text-center"
          method="post" enctype="multipart/form-data">
            <div class="kv-avatar center-block" style="width:200px">
                <input id="avatar-2" name="avatar-2" type="file" class="file-loading">
            </div>
            <!-- include other inputs if needed and include a form submit (save) button -->
        </form>
        <!-- your server code `avatar_upload.php` will receive `$_FILES['avatar']` on form submission -->

        <!-- the fileinput plugin initialization -->
        <script type="text/javascript" src="js/avatar.js"></script>
        <div class="col-lg-2" ></div>
      </div>

      <div class="col-lg-2" style="width: 420px !important; height: 200px !important;"
        width="420px" height="200px" ng-show="addStaffMember == false">
        <canvas id="physicalRadar" class="chart chart-radar"
          chart-data="physicalData" chart-options="options" chart-labels="physicalLabels"
          style="display: block; width: 420px !important; height: 200px !important;">
        </canvas>
      </div>

      <div class="col-lg-2" style="width: 420px !important; height: 200px !important;"
        width="420px" height="200px" ng-show="addStaffMember == false">
        <canvas id="velocityRadar" class="chart chart-radar"
          chart-data="velocityData" chart-options="options" chart-labels="velocityLabels"
          style="display: block; width: 420px !important; height: 200px !important;">
        </canvas>
      </div>
    </div>

    <div class="row">
      <p/>
    </div>

    <div class="row">
      <div class="col-lg-2">
          <button type="button" class="btn" ng-disabled="details"
            ng-click="savePlayer()" ng-show="addStaffMember == false">
            Gravar Jogador
          </button>
          <button type="button" class="btn" ng-disabled="details"
            ng-click="savePlayer()" ng-show="addStaffMember == true">
            Gravar Staff
          </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
            <label>Nome:</label>
            <input class="form-control" ng-disabled="details"
              ng-model="selectedPlayer.name" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label>Número:</label>
            <input class="form-control" ng-disabled="details"
              ng-model="selectedPlayer.jerseyNumber" integer  />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label>Nacionalidade:</label>
            <input class="form-control" ng-disabled="details"
              ng-model="selectedPlayer.nationality"  />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label>Idade:</label>
            <input class="form-control" ng-disabled="details"
              ng-model="selectedPlayer.age" integer />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label>Peso (Kg):</label>
            <input class="form-control" ng-disabled="details"
              ng-model="selectedPlayer.weight" decimalWeight />
        </div>
      </div>

      <div class="col-md-2" ng-show="addStaffMember == false">
        <div class="form-group">
            <!--div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                ng-disabled="details" ng-show="selectedPlayer.position == undefined || selectedPlayer.position == null ||
                  selectedPlayer.position == ''">
                Selecione a posição
              <span class="caret"></span></button>
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                ng-disabled="details" ng-show="!(selectedPlayer.position == undefined || selectedPlayer.position == null ||
                  selectedPlayer.position == '')">
                {{selectedPlayer.position}}
              <span class="caret"></span></button>
              <ul class="dropdown-menu" value="{{selectedPlayer.position}}">
                <li ng-click="selectedPlayerPosition('Keeper');"><a>Guarda-Redes</a></li>
                <li ng-click="selectedPlayerPosition('Left-Back');"><a>Defesa Esq.</a></li>
                <li ng-click="selectedPlayerPosition('Right-Back');"><a>Defesa Dir.</a></li>
                <li ng-click="selectedPlayerPosition('Centre-Back');"><a>Defesa Central</a></li>
                <li ng-click="selectedPlayerPosition('Central Midfield');"><a>Médio Centro</a></li>
                <li ng-click="selectedPlayerPosition('Attacking Midfield');"><a>Médio Atacante</a></li>
                <li ng-click="selectedPlayerPosition('Left-Wing');"><a>Ala Esq.</a></li>
                <li ng-click="selectedPlayerPosition('Right-Wing');"><a>Ala Dir.</a></li>
                <li ng-click="selectedPlayerPosition('Forward');"><a>Avançado</a></li>
              </ul>
            </div-->
            <label>Posição:</label>
            <input class="form-control" ng-model="selectedPlayer.position" ng-disabled="details"
              value="{{selectedPlayer.position}}" ng-click="selectPlayerPosition();" />
        </div>
    </div>

    <div class="col-md-2" ng-show="addStaffMember == true">
        <div class="form-group">
            <label>Função:</label>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                ng-disabled="details" ng-show="selectedPlayer.position == undefined || selectedPlayer.position == null ||
                  selectedPlayer.position == ''">
                Selecione a função
              <span class="caret"></span></button>
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                ng-disabled="details" ng-show="!(selectedPlayer.position == undefined || selectedPlayer.position == null ||
                  selectedPlayer.position == '')">
                {{selectedPlayer.position}}
              <span class="caret"></span></button>
              <ul class="dropdown-menu" value="{{selectedPlayer.position}}">
                <li ng-click="selectedPlayerPosition('Assitant Coach');"><a>Treinador Adjunto</a></li>
                <li ng-click="selectedPlayerPosition('Goalkeeper Coach');"><a>Treinador Guarda Redes</a></li>
                <li ng-click="selectedPlayerPosition('Physical Prep.');"><a>Preparador Fisico</a></li>
                <li ng-click="selectedPlayerPosition('President');"><a>Presidente</a></li>
                <li ng-click="selectedPlayerPosition('Leader');"><a>Dirigente</a></li>
                <li ng-click="selectedPlayerPosition('Closet');"><a>Roupeiro</a></li>
                <li ng-click="selectedPlayerPosition('Physiotherapist');"><a>Fisioterapeuta</a></li>
                <li ng-click="selectedPlayerPosition('Medic');"><a>Médico</a></li>
                <li ng-click="selectedPlayerPosition('Watcher');"><a>Observador</a></li>
              </ul>
            </div>
        </div>
    </div>

    <div class="row" />

    <div class="row" ng-show="addStaffMember == false">
      <div class="col-lg-2">
        <table class="table">
          <caption>Atributos Físicos</caption>
          <thead>
            <tr>
              <th>Altura (cms)</th>
              <td><input class="form-control" ng-disabled="details" integerHeight
                ng-model="physicalHeight" style="width: 45px" max="250"/></td>
              <th>Resistência</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="physicalResist" style="width: 45px" /></td>
              <th>Agilidade</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="physicalAgility" style="width: 45px" /></td>
              <th>Salto Altura</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="physicalJumpHeight" style="width: 45px" /></td>
              <th>Salto Comprimento</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="physicalJumpLong" style="width: 45px" /></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Aceleração</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="acelaration" style="width: 45px" /></td>
              <th>Velocidade 10m</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="velocity10m" style="width: 45px" /></td>
              <th>Velocidade 20m</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="velocity20m" style="width: 45px" /></td>
              <th>Velocidade 50m</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="velocity50m" style="width: 45px" /></td>
              <th>Velocidade 100m</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="velocity100m" style="width: 45px" /></td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <caption>Atributos Mentais</caption>
          <thead>
            <tr>
              <th>Liderança</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="mentalLeadership" style="width: 45px" /></td>
              <th>Equipa</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="mentalTeam" style="width: 45px" /></td>
              <th>Rácio de Trabalho</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="mentalTeamWork" style="width: 45px" /></td>
              <th>Determinação</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="mentalDetermination" style="width: 45px" /></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Criatividade</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="mentalCreativity" style="width: 45px" /></td>
              <th>Concentração</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="mentalFocus" style="width: 45px" /></td>
              <th>Agressividade</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="mentalAgressive" style="width: 45px" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-show="addStaffMember == false">
      <div class="col-lg-2">
        <table class="table">
          <caption>Atributos Técnicos</caption>
          <thead>
            <tr>
              <th>Cruzamento</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalCruzamento" style="width: 45px" /></td>
              <th>Drible</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalDrible" style="width: 45px" /></td>
              <th>Finta</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalWork" style="width: 45px" /></td>
              <th>Remate</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalShoot" style="width: 45px" /></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Finalização</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalFinish" style="width: 45px" /></td>
              <th>Cabeceamento</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalHead" style="width: 45px" /></td>
              <th>Primeiro Toque</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalFirst" style="width: 45px" /></td>
              <th>Recepção Orientada</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalReceive" style="width: 45px" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-show="addStaffMember == false">
      <div class="col-lg-2">
        <table class="table">
          <thead>
            <tr>
              <th>Livres</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalFree" style="width: 45px" /></td>
              <th>Lançamentos</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalLaunch" style="width: 45px" /></td>
              <th>Penalties</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalPenalty" style="width: 45px" /></td>
              <th>Cantos</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalCorner" style="width: 45px" /></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Técnica</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalTech" style="width: 45px" /></td>
              <th>Passe Curto</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalShortPass" style="width: 45px" /></td>
              <th>Passe Longo</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalLongPass" style="width: 45px" /></td>
              <th>Remate Longa Distância</th>
              <td><input class="form-control" ng-disabled="details" integer
                ng-model="technicalLongShoot" style="width: 45px" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="selectPlayerPosition.html">
    <div class="ngdialog-message" style="text-align: center !important;">
      <h3><i class="fa fa-fw fa-futbol-o"></i> Seleccione a posição do Jogador</h3>
      <br/>

      <table class="table">
        <thead>
          <tr>
            <th align="center">#</th>
            <th align="center"></th>
            <th align="center">Esquerdo</th>
            <th align="center">Direito</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="position in availablePositions">
            <th>
              <input type="checkbox" ng-model="position.selected" />
            </th>
            <th>{{position.name}}</th>
            <th align="center" ng-if="position.name != 'Guarda-Redes'">
              <input type="checkbox" ng-model="position.esqSelected" />
            </th>
            <th align="center" ng-if="position.name != 'Guarda-Redes'">
              <input type="checkbox" ng-model="position.dirSelected" />
            </th>
          </tr>
        </tbody>
      </table>

      <button type="button" class="btn"
        ng-click="addPositionsToPlayer();closeThisDialog();">
        OK
      </button>
  </script>
