
<!-- Page Heading -->
<div class="row" ng-init="loadSelectedPlayer()">
    <div class="col-lg-12" >
      <h1 class="page-header" ng-if="selectedPlayer == undefined">
          <i><img src="{{effectiveTeam.crestUrl}}" height="50px" width="50px"></img></i>
          Adicionar Jogador
      </h1>
      <h1 class="page-header" ng-if="selectedPlayer != undefined">
          <i><img src="{{effectiveTeam.crestUrl}}" height="50px" width="50px"></img></i>
          Informação de Jogador
      </h1>
    </div>
    <div class="col-lg-12">
      <ol class="breadcrumb">
          <li ng-if="selectedPlayer == undefined">
              <i class="fa fa-dashboard"></i> Dashboard / Plantel - <b>{{effectiveTeam.name}}</b> / Adicionar Jogador
          </li>
          <li ng-if="selectedPlayer != undefined">
              <i class="fa fa-dashboard"></i> Dashboard / Plantel - <b>{{effectiveTeam.name}}</b> / Informação de Jogador
          </li>
      </ol>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <!-- the avatar markup -->
        <div id="kv-avatar-errors-2" class="center-block" style="width:800px;display:none"></div>
        <form class="text-center" action="./avatar_upload.php" method="post" enctype="multipart/form-data">
            <div class="kv-avatar center-block" style="width:200px">
                <input id="avatar-2" name="avatar-2" type="file" class="file-loading">
            </div>
            <!-- include other inputs if needed and include a form submit (save) button -->
        </form>
        <!-- your server code `avatar_upload.php` will receive `$_FILES['avatar']` on form submission -->

        <!-- the fileinput plugin initialization -->
        <script type="text/javascript" src="js/avatar.js"></script>

      </div>

      <div class="col-lg-2" style="width: 420px !important; height: 200px !important;"
        width="420px" height="200px">
        <canvas id="physicalRadar" class="chart chart-radar"
          chart-data="physicalData" chart-options="options" chart-labels="physicalLabels"
          style="display: block; width: 420px !important; height: 200px !important;">
        </canvas>
      </div>

      <div class="col-lg-2" style="width: 420px !important; height: 200px !important;"
        width="420px" height="200px">
        <canvas id="velocityRadar" class="chart chart-radar"
          chart-data="velocityData" chart-options="options" chart-labels="velocityLabels"
          style="display: block; width: 420px !important; height: 200px !important;">
        </canvas>
      </div>
    </div>

    <div class="row">
      <p/>
    </div>

    <div class="row">
      <div class="col-lg-2">
          <button type="button" class="btn" ng-disabled="details"
            ng-click="savePlayer()">
            Gravar Jogador
          </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
            <label>Nome:</label>
            <input class="form-control" ng-disabled="details"
              ng-model="selectedPlayer.name" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label>Número:</label>
            <input class="form-control" ng-disabled="details"
              ng-model="selectedPlayer.jerseyNumber"  />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label>Nacionalidade:</label>
            <input class="form-control" ng-disabled="details"
              ng-model="selectedPlayer.nationality"  />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label>Idade:</label>
            <input class="form-control" ng-disabled="details"
              ng-model="ageCalculation"  />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label>Posição:</label>
            <input class="form-control" ng-disabled="details"
              ng-model="selectedPlayer.position"  />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <table class="table">
          <caption>Atributos Físicos</caption>
          <thead>
            <tr>
              <th>Altura</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="physicalHeight" style="width: 45px" /></td>
              <th>Resistência</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="physicalResist" style="width: 45px" /></td>
              <th>Agilidade</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="physicalAgility" style="width: 45px" /></td>
              <th>Salto Altura</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="physicalJumpHeight" style="width: 45px" /></td>
              <th>Salto Comprimento</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="physicalJumpLong" style="width: 45px" /></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Aceleração</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="acelaration" style="width: 45px" /></td>
              <th>Velocidade 10m</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="velocity10m" style="width: 45px" /></td>
              <th>Velocidade 20m</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="velocity20m" style="width: 45px" /></td>
              <th>Velocidade 50m</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="velocity50m" style="width: 45px" /></td>
              <th>Velocidade 100m</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="velocity100m" style="width: 45px" /></td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <caption>Atributos Mentais</caption>
          <thead>
            <tr>
              <th>Liderança</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="mentalLeadership" style="width: 45px" /></td>
              <th>Equipa</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="mentalTeam" style="width: 45px" /></td>
              <th>Rácio de Trabalho</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="mentalTeamWork" style="width: 45px" /></td>
              <th>Determinação</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="mentalDetermination" style="width: 45px" /></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Criatividade</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="mentalCreativity" style="width: 45px" /></td>
              <th>Concentração</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="mentalFocus" style="width: 45px" /></td>
              <th>Agressividade</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="mentalAgressive" style="width: 45px" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <table class="table">
          <caption>Atributos Técnicos</caption>
          <thead>
            <tr>
              <th>Cruzamento</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalCruzamento" style="width: 45px" /></td>
              <th>Drible</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalDrible" style="width: 45px" /></td>
              <th>Finta</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalWork" style="width: 45px" /></td>
              <th>Remate</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalShoot" style="width: 45px" /></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Finalização</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalFinish" style="width: 45px" /></td>
              <th>Cabeceamento</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalHead" style="width: 45px" /></td>
              <th>Primeiro Toque</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalFirst" style="width: 45px" /></td>
              <th>Recepção Orientada</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalReceive" style="width: 45px" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <table class="table">
          <thead>
            <tr>
              <th>Livres</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalFree" style="width: 45px" /></td>
              <th>Lançamentos</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalLaunch" style="width: 45px" /></td>
              <th>Penalties</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalPenalty" style="width: 45px" /></td>
              <th>Cantos</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalCorner" style="width: 45px" /></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Técnica</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalTech" style="width: 45px" /></td>
              <th>Passe Curto</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalShortPass" style="width: 45px" /></td>
              <th>Passe Longo</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalLongPass" style="width: 45px" /></td>
              <th>Remate Longa Distância</th>
              <td><input class="form-control" ng-disabled="details"
                ng-model="technicalLongShoot" style="width: 45px" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
