<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Plantel
        </h1>
      </div>
      <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> Dashboard / Plantel - <b>{{effectiveTeam.name}}</b>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i><img src="{{effectiveTeam.crestUrl}}" height="25px" width="25px"></img></i> Aqui podes gerir o teu plantel.<p/>
        </div>
    </div>
</div>


<div class="row">
  <div class="card" ng-repeat="player in teamPlayers.players">
      <div class="col-lg-3 list-group">
        <img class="card-img-top" src="https://dummyimage.com/200x200/000/fff" alt="{{player.name}}">
        <div class="card-block">
          <h4 class="card-title">{{player.name}}
            <i class="glyphicon glyphicon-pencil">
              <a href="#/editPlayer"/>
            </i>
          </h4>
          <p class="card-text">Número: {{player.jerseyNumber}}</p>
          <p class="card-text">Nacionalidade: {{player.nationality}}</p>
          <p class="card-text">Posição: {{player.position}}</p></p>
        </div>
        <p/>
    </div>
  </div>
</div>
