
<script type="text/javascript" src="js/avatar.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker();
    });
</script>


<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <img src="{{effectiveTeam.crestUrl}}" height="50px" width="50px"></img> Plantel
        </h1>
      </div>
      <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> Dashboard / Plantel - <b>{{effectiveTeam.name}}</b>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             <i class="fa fa-info-circle"></i> Aqui podes gerir o teu plantel.<p/>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <table class="table">
      <caption>STAFF</caption>
      <thead>
        <tr>
          <th align="center">#</th>
          <th align="center">Nome</th>
          <th align="center">Função</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in staff">
          <th align="center">
            <img ng-if="player.pictureBlob == '' || player.pictureBlob == undefined"
              src="https://dummyimage.com/40x40/000/fff" />
            <img ng-if="player.pictureBlob != '' && player.pictureBlob != undefined"
              src="{{player.pictureBlob}}" width="40px" height="40px" />
          </th>
          <th>{{player.name}}</th>
          <td>{{player.position}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <table class="table">
      <caption>Guarda Redes</caption>
      <thead>
        <tr>
          <th align="center">#</th>
          <th align="center">Número</th>
          <th align="center">Nome</th>
          <th align="center">Posição</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in goalKeepers">
          <th align="center">
            <img ng-if="player.pictureBlob == '' || player.pictureBlob == undefined"
              src="https://dummyimage.com/40x40/000/fff" />
            <img ng-if="player.pictureBlob != '' && player.pictureBlob != undefined"
              src="{{player.pictureBlob}}" width="40px" height="40px" />
          </th>
          <th>{{player.jerseyNumber}}</th>
          <th ng-click="openPlayerInformationDialog(player,true)"><a href="#/addplayer">{{player.name}}</a></th>
          <td>{{player.position}}</td>
          <td class="playerEdit" align="center" ><i class="glyphicon glyphicon-pencil"
            ng-click="openPlayerInformationDialog(player,false)"></i></td>
          <td class="playerEdit" ><i class="glyphicon glyphicon-remove" ng-click="openDeletePlayerDialog(player,false)"></i></td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <caption>Defesas</caption>
      <thead>
        <tr>
          <th align="center">#</th>
          <th align="center">Número</th>
          <th align="center">Nome</th>
          <th align="center">Posição</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in defenses">
          <th align="center">
            <img ng-if="player.pictureBlob == '' || player.pictureBlob == undefined"
              src="https://dummyimage.com/40x40/000/fff" />
            <img ng-if="player.pictureBlob != '' && player.pictureBlob != undefined"
              src="{{player.pictureBlob}}" width="40px" height="40px" />
          </th>
          <th>{{player.jerseyNumber}}</th>
          <th ng-click="openPlayerInformationDialog(player,true)"><a href="#/addplayer">{{player.name}}</a></th>
          <td>{{player.position}}</td>
          <td class="playerEdit" align="center" ><i class="glyphicon glyphicon-pencil"
            ng-click="openPlayerInformationDialog(player, false)"><a href="#/addplayer"></a></i></td>
          <td class="playerEdit" ><i class="glyphicon glyphicon-remove" ng-click="openDeletePlayerDialog(player,false)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-lg-6">
    <table class="table">
      <caption>Médios</caption>
      <thead>
        <tr>
          <th align="center">#</th>
          <th align="center">Número</th>
          <th align="center">Nome</th>
          <th align="center">Posição</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in middles">
          <th align="center">
            <img ng-if="player.pictureBlob == '' || player.pictureBlob == undefined"
              src="https://dummyimage.com/40x40/000/fff" />
            <img ng-if="player.pictureBlob != '' && player.pictureBlob != undefined"
              src="{{player.pictureBlob}}" width="40px" height="40px" />
          </th>
          <th>{{player.jerseyNumber}}</th>
          <th ng-click="openPlayerInformationDialog(player,true)"><a href="#/addplayer">{{player.name}}</a></th>
          <td>{{player.position}}</td>
          <td class="playerEdit" align="center" ><i class="glyphicon glyphicon-pencil"
            ng-click="openPlayerInformationDialog(player, false)"><a href="#/addplayer"></a></i></td>
          <td class="playerEdit" ><i class="glyphicon glyphicon-remove" ng-click="openDeletePlayerDialog(player,false)"></i></td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <caption>Avançados</caption>
      <thead>
        <tr>
          <th align="center">#</th>
          <th align="center">Número</th>
          <th align="center">Nome</th>
          <th align="center">Posição</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in strikers">
          <th align="center">
            <img ng-if="player.pictureBlob == '' || player.pictureBlob == undefined"
              src="https://dummyimage.com/40x40/000/fff" />
            <img ng-if="player.pictureBlob != '' && player.pictureBlob != undefined"
              src="{{player.pictureBlob}}" width="40px" height="40px"/>
          </th>
          <th>{{player.jerseyNumber}}</th>
          <th ng-click="openPlayerInformationDialog(player,true)"><a href="#/addplayer">{{player.name}}</a></th>
          <td>{{player.position}}</td>
          <td class="playerEdit" align="center" ><i class="glyphicon glyphicon-pencil"
            ng-click="openPlayerInformationDialog(player, false)"><a href="#/addplayer"></a></i></td>
          <td class="playerEdit"><i class="glyphicon glyphicon-remove" ng-click="openDeletePlayerDialog(player,false)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Dialog -->
<script type="text/ng-template" id="deletePlayer.html">
    <div class="ngdialog-message" style="text-align: center !important;">
        <h2><i class="fa fa-exclamation-triangle" style="color: red;"></i>
          Tem a certeza que deseja eliminar o <b>{{selectedPlayer.name}}</b> enquanto jogador?
        </h2>
        <p/>
        <button type="button" class="btn btn-warning" ng-click="deletePlayer();closeThisDialog();">Sim</button>
        <button type="button" class="btn" ng-click="closeThisDialog()">Não</button>
    </div>
</script>

{{hideElements()}}
