<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i><img src="{{effectiveTeam.crestUrl}}" height="50px" width="50px"></img></i> Plantel
        </h1>
      </div>
      <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> Dashboard / Plantel - <b>{{effectiveTeam.name}}</b>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             <i class="fa fa-info-circle"></i> Aqui podes gerir o teu plantel.<p/>
        </div>
    </div>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th align="center">#</th>
        <th align="center">Número</th>
        <th align="center">Nome</th>
        <th align="center">Posição</th>
        <th align="center">Finalização</th>
        <th align="center">Resistência</th>
        <th align="center">Espirito de Equipa</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in teamPlayers.players">
        <th scope="row" align="center"><img src="https://dummyimage.com/40x40/000/fff"></th>
        <th>{{player.jerseyNumber}}</th>
        <th>{{player.name}}</th>
        <td>{{player.position}}</td>
        <td align="center"><i class="glyphicon glyphicon-ok-sign" style="color:#5cb85c"></i></td>
        <td align="center"><i class="glyphicon glyphicon-info-sign" style="color:blue"></i></td>
        <td align="center"><i class="glyphicon glyphicon-question-sign" style="color:red"></i></td>
        <td align="center"><i class="glyphicon glyphicon-pencil">
          <a href="#/editPlayer"/>
        </i></td>
        <td><i class="glyphicon glyphicon-remove">
          <a href="#/deletePlayer"/>
        </i></td>
      </tr>
    </tbody>
  </table>
</div>
