<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-home"></i> Bem vindo <small>José Amador</small>
        </h1>
      </div>
      <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>

<!-- alert -->
<div class="row" ng-show="{{validateAlertMessage}}">
    <div class="col-lg-12">
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i> {{message}}
            <a href="#/practices">
              Ir para o treino {{identification}}!
            </a>
        </div>
    </div>
</div>

<div class="row">
  <!-- Noticias -->
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-newspaper-o fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{(feeds.items).length}}</div>
                    <div>Noticias</div>
                </div>
            </div>
        </div>
        <a href="#/news">
            <div class="panel-footer">
                <span class="pull-left">Visualizar Noticias!</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>


  <!-- Treinos do dia corrente -->
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-tasks fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge">14</div>
                      <div>Treinos hoje!</div>
                  </div>
              </div>
          </div>
          <a href="#/practices">
              <div class="panel-footer">
                  <span class="pull-left">Detalhes</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
    </div>

    <!-- Calendario geral -->
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-calendar fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge">18</div>
                      <div>eventos</div>
                  </div>
              </div>
          </div>
          <a href="#/calendar">
              <div class="panel-footer">
                  <span class="pull-left">Detalhes</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
    </div>

    <!-- Tactical board expresso -->
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-paperclip fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge">T. Board</div>
                      <div>Sem treinos</div>
                  </div>
              </div>
          </div>
          <a href="#/practices">
              <div class="panel-footer">
                  <span class="pull-left">Desenhar</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Eventos mensais <small>Estatisticas</small></h3>
            </div>
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>

            <script src="js/plugins/morris/morris-data.js"></script>
        </div>
    </div>
</div>
