<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i> Últimas noticias.
        </div>
    </div>
</div>

<div class="row-fluid" ng-init="loadFeed()">
    <ul class="unstyled">
        <li ng-repeat="feed in feeds.items">
            <h4><a href="{{feed.link}}">{{feed.title}}</a></h4>
            <p class="text-left" style="font-size:15px" >{{feed.content}}</p>
            <span class="small">{{feed.pubDate}}</span>
        </li>
    </ul>
</div>
