<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-fw fa-calendar"></i> Calendário
        </h1>
      </div>
      <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard / Calendário de Jogos
            </li>
        </ol>
    </div>
</div>

<div class="col-lg-12">
  <table class="table">
    <caption><i class="fa fa-fw fa-futbol-o"/> Jogos</caption>
    <thead>
      <tr>
        <th align="center">#</th>
        <th align="center">Jogo</th>
        <th align="center">Data/Hora</th>
        <th align="center">Estado</th>
        <th align="center">Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="game in gamesList">
        <th>{{game.matchday}}</th>
        <th>{{game.homeTeamName}} vs {{game.awayTeamName}}</th>
        <td>{{game.date}}</td>
        <td>{{game.status}}</td>
        <td>{{game.result.goalsHomeTeam}} - {{game.result.goalsAwayTeam}}</td>
      </tr>
    </tbody>
  </table>
</div>
