<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-fw fa-calendar"></i> Calendário
        </h1>
      </div>
      <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard / Calendário
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i> Organiza o teu Calendário.
        </div>
    </div>
</div>

<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
<br/>
<div class="col-lg-3">
    <button type="button" class="btn" ng-click="createANewEvent()">
      Criar novo evento
    </button>
</div>

<script type="text/ng-template" id="createNewEvent.html">
    <div class="ngdialog-message" style="text-align: center !important;">
      {{forceDatePickers()}}
      <h3><i class="fa fa-fw fa-futbol-o"></i> Criar um novo evento. </h3>
      <br/>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label>Titulo:</label>
              <input class="form-control" value="{{eventTitle}}" ng-model="eventTitle"  />

              <label>Tipo:</label>
              <div class="dropdown">
                <button ng-if="eventType.description == '' || eventType.description == undefined"
                  class="btn btn-default dropdown-toggle"
                  type="button" data-toggle="dropdown">
                  Selecione o tipo
                  <span class="caret"></span>
                </button>
                <button ng-if="eventType.description != ''" class="btn btn-default dropdown-toggle"
                  type="button" data-toggle="dropdown">
                  {{eventType.description}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li ng-click="selectEventType('meeting')"><a>Reunião</a></li>
                  <li ng-click="selectEventType('practice')"><a>Treino</a></li>
                  <li ng-click="selectEventType('game')"><a>Jogo</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-4">
              <label>Data de Inicio:</label>
              <div>
                <div>
                    <input type='text' value="{{startDate}}" class="form-control"
                      id='startDateId' ng-model="startDate"/>
                </div>
              </div>

              <div class="form-group">
                  <label>Data de Fim:</label>
                  <div>
                    <div>
                        <input type='text' value="{{endDate}}" class="form-control"
                          id='endDateId' ng-model="endDate" />
                    </div>
                  </div>
              </div>
            </div>
          </div>

        <button type="button" class="btn"
          ng-click="addEvent(eventTitle, startDate, endDate); closeThisDialog();">
          Criar
        </button>

      </div>
    </div>
</script>
