<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="glyphicon glyphicon-paste"></i> Mesociclo
        </h1>
      </div>
      <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard / Treinos / Mesociclo
            </li>
        </ol>
    </div>
</div>

<div class="row">

  <div class="col-lg-6" style="width: 500px !important; height: 250px !important; align: center !important"
    width="420px" height="200px"
    <!-- AREA DE TACTICAS -->
    <canvas id="bar" class="chart chart-bar" chart-colors="colors"
      chart-data="data" chart-labels="labelsOfTheWeek" chart-series="series">
    </canvas>
  </div>
</div>

<div class="row">
  <div class="col-lg-6" style="width: 500px !important; height: 250px !important; align: center !important"
    width="420px" height="250px"
    <!-- AREA DE TACTICAS -->
    <canvas id="barOTD" class="chart chart-bar" chart-colors="colors"
      chart-data="dataOTD" chart-labels="labelsOfTheWeek" chart-series="seriesOTD">
    </canvas>
  </div>

  <!-- AREA DE VOLUME E INTENSIDADE >
  <canvas id="base" class="chart-bar"
    chart-data="dataVolIntWeek1" chart-labels="labels" chart-colors="colors"
    chart-dataset-override="datasetOverride" >
  </canvas>

  <canvas id="base" class="chart-bar"
    chart-data="dataVolIntWeek2" chart-labels="labels" chart-colors="colors"
    chart-dataset-override="datasetOverride" >
  </canvas>

  <canvas id="base" class="chart-bar"
    chart-data="dataVolIntWeek3" chart-labels="labels" chart-colors="colors"
    chart-dataset-override="datasetOverride" >
  </canvas>

  <canvas id="base" class="chart-bar"
    chart-data="dataVolIntWeek4" chart-labels="labels" chart-colors="colors"
    chart-dataset-override="datasetOverride" >
  </canvas>

  <canvas id="base" class="chart-bar"
    chart-data="dataVolIntWeek5" chart-labels="labels" chart-colors="colors"
    chart-dataset-override="datasetOverride" >
  </canvas-->

</div>
